.card-product {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 280px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}

.card-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    list-style: none;
}

.card-image {
    width: 250px;
    height: 250px;
    object-fit: contain;
    border-radius: 10%;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 10%;
}

.card-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn {
    padding: 8px 14px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
}

.btn-edit {
    background-color: #1f48dc;
    color: white;
}

.btn-edit:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-delete {
    background-color: #1f48dc;
    color: white;
}

.btn-delete:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}