.footer {
    background-color: #1f48dc;
    color: white;
    padding: 30px 0;
    margin-top: auto;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.footer-logo {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

.footer-text {
    margin: 10px 0 20px 0;
    font-size: 14px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
}

.footer-links a:hover {
    text-decoration: underline;
    opacity: 0.85;
}