.navbar {
    background-color: #1f48dc;
    padding: 12px 20px;
    display: flex;
    align-items: center;
}

.nav-left {
    width: 120px;
}

.navbar-list {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    padding: 8px 16px;
    border-radius: 999px;
    border: none;
    background-color: #5d8bf6;
    color: white;
    cursor: pointer;
    display: flex;
}

.button-sesion {
    width: 120px;
    display: flex;
    justify-content: flex-end;
}

.button-sesion button {
    padding: 8px 16px;
    border-radius: 999px;
    border: none;
    background-color: #5d8bf6;
    color: white;
    cursor: pointer;
    font-weight: bold;
}